.noUi-target,.noUi-target *{
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select:none;
    -ms-touch-action:none;
    touch-action:none;
    -ms-user-select:none;
    -moz-user-select:none;
    user-select:none;
}
.noUi-target{
    position:relative;
}
.noUi-base,.noUi-connects{
    width:100%;
    height:100%;
    position:relative;
    cursor: pointer;
    z-index:1;
    &:before {
        content: '';
        position: absolute;
        top: -15px;
        right: -5px;
        bottom: -15px;
        left: -5px;
    }
}
.noUi-connects{
    overflow:hidden;
    z-index:0;
}
.noUi-connect,.noUi-origin{
    will-change:transform;
    position:absolute;
    z-index:1;
    top:0;
    right:0;
    height:100%;
    width:100%;
    -ms-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    -webkit-transform-style:preserve-3d;
    transform-origin:0 0;
    transform-style:flat;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin{
    left:0;
    right:auto;
}
.noUi-vertical .noUi-origin{
    top:-100%;
    width:0;
}
.noUi-horizontal .noUi-origin{
    height:2px;
}
.noUi-handle{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    transition: all .34s;
    transition-property: background;
    position:absolute;
    &:hover,
    &.noUi-active {
        text-decoration: none;
        @media (min-width: 1200px) {
            background: #2D2C38;
        }
    }
}
.noUi-touch-area{
    height:100%;
    width:100%;
}
.noUi-state-tap .noUi-connect,.noUi-state-tap .noUi-origin{
    transition:transform .1s;
}
.noUi-state-drag *{
    cursor:inherit!important
}
.noUi-horizontal{
    height:2px;
}
.noUi-horizontal .noUi-handle{
    width:10px;
    height:10px;
    margin-top:-5px;
    right:-5px;
    top:50%;
}
.noUi-vertical{
    width:18px;
}
.noUi-vertical .noUi-handle{
    width:10px;
    height:10px;
    right:-5px;
    bottom:-5px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle{
    left:-5px;
    right:auto;
}
.noUi-target{
    background:#FAFAFA;
    padding: 0 5px;
    border-radius:2px;
}
.noUi-connects{
    background:#DEDEDE;
    border-radius:2px;
    transition: all .34s;
    transition-property: background;
}
.noUi-base:hover .noUi-connects,
.noUi-state-drag .noUi-connects {
    background:#9AA0A1;
}
.noUi-connect{
    background:#2D2C38;
}
.noUi-draggable{
    cursor:ew-resize;
}
.noUi-vertical .noUi-draggable{
    cursor:ns-resize;
}
.noUi-handle{
    box-shadow: inset 0 0 0 1px #2D2C38;
    border-radius:50%;
    background:#F8F8F8;
    cursor:pointer;
    &:before {
        content: '';
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
    }
}
[disabled] .noUi-connect{
    background:#B8B8B8;
}
[disabled] .noUi-handle,[disabled].noUi-handle,[disabled].noUi-target{
    cursor:not-allowed;
}
.noUi-pips{
    position:absolute;
    color:#999;
}
.noUi-value{
    position:absolute;
    white-space:nowrap;
    text-align:center;
}
.noUi-value-sub{
    color:#ccc;
    font-size:10px;
}
.noUi-marker{
    position:absolute;
    background:#CCC;
}
.noUi-marker-sub{
    background:#AAA;
}
.noUi-marker-large{
    background:#AAA;
}
.noUi-pips-horizontal{
    padding:10px 0;
    height:80px;
    top:100%;
    left:0;
    width:100%;
}
.noUi-value-horizontal{
    transform:translate(-50%,50%);
}
.noUi-rtl .noUi-value-horizontal{
    transform:translate(50%,50%);
}
.noUi-marker-horizontal.noUi-marker{
    margin-left:-1px;
    width:2px;
    height:5px;
}
.noUi-marker-horizontal.noUi-marker-sub{
    height:10px;
}
.noUi-marker-horizontal.noUi-marker-large{
    height:15px;
}
.noUi-pips-vertical{
    padding:0 10px;
    height:100%;
    top:0;
    left:100%;
}
.noUi-value-vertical{
    transform:translate(0,-50%);
    padding-left:25px;
}
.noUi-rtl .noUi-value-vertical{
    transform:translate(0,50%);
}
.noUi-marker-vertical.noUi-marker{
    width:5px;
    height:2px;
    margin-top:-1px;
}
.noUi-marker-vertical.noUi-marker-sub{
    width:10px;
}
.noUi-marker-vertical.noUi-marker-large{
    width:15px;
}